/*@media (min-width: 768px) and (max-width: 1024px) {

}
@media (min-width: 320px) and (max-width: 480px) {
	body, html{
		overflow-x: hidden;
	}
	.font-xl{font-size: 36px;}
	.font-lg{font-size: 24px;}
	.font-md{font-size: 20px;}
	.font-sm{font-size: 16px;}
	.font-xs{font-size: 12px;}
	.section{
		width: 90vw !important;
		margin: auto;
	}
	#navbar{
		width: 90vw !important;
		margin: auto;
		transition-duration: 0.5s;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
	}
	#navbar .btn {
		font-size: 16px;
	}
	#navbar ul{
		padding: 0px;
		margin-left: -40px !important;
	}
	#navbar ul li{
		margin-top: 30px;
	}
	#about div{
		width: 100vw;
		margin: auto;
		height: auto;
		display: inline-block;
	}
	#about .col-md-6{
		padding: 10px 35px;
	}

	#history{
		height: auto;
		padding: 30px 10px;
	}
	#history img{
		height: 80px;
		margin-bottom: 0px;
	}
	#history .history-part{
		background-image: none;
		color: #121212;
		padding: 5px;
		text-align: center;
		margin: 10px 0;
	}
	#history .history-part h2{
		color: #FB7C45;
	}

	#principe{
		padding: 50px 0;
	}
	#principe h1{
		font-size: 36px;
	}
	#principe .section{
		width: 100vw;
		margin: auto;
		height: auto;
		display: block;
	}
	#principe .col-md-6{
		padding: 0px 20px;
	}
	#principe .principe-part{
		position: relative;
		height: 30px;
		margin-top: 25px !important;
		width: 100vw;
		left: 10vw;
		margin: auto;
	}
	#principe .principe-part .pp-text{
		position: absolute;
		width: 80%;
		font-size: 15px;
		top: 0px;
		bottom: 0px;
		right: 0px;
		padding-left: 5	0px;
	}
	#principe .principe-part .pp-icon{
		position: absolute;
		left: -50px;
		top: -10px;
		bottom: 0px;
		transform: scale(0.9);
	}

	#news{
		height: auto !important;
		padding-bottom: 40px;
	}
	#news h2.font-sm{
		font-size: 20px;
		margin: 0px;
	}
	#news p.font-xs{
		display: none;
	}
	#news .news-panel{
		height: auto !important;
	}
	#news .news-panel-body{
		padding: 20px;
	}

	#response{
		height: auto;
		padding-bottom: 40px;
	}
	#response img.icon,#response img.foto{
		display: inline-block;
		height: 75px;
	}
	#response .swiper-slide{
		padding: 0px 35px;
		height: 100vh;
	}
	#response .swiper-slide p{
		font-size: 14px;
		line-height: 20px;
	}
	#response .h{
		display: none;
	}

	#quote{
		padding: 40px 0;
		height: 90vh !important;
	}
	#quote .col-xs-12{
		padding: 5px;
		margin-top: 5px !important;
		text-align: center;
	}
	#quote h3{
		padding: 0px;
		line-height: 30px;
		font-size: 20px;
	}

	#footer{
		height: 40vh !important;
		padding: 30px 0;
	}
	#footer p{
		margin-top: 0px;
	}
	#footer .col-md-6{
		text-align: center !important
	}
	#footer img{
		height: 50px;
		margin-top: 20px;
	}
	#leftbar{
		display: none;
	}
	}	*/
	.slide-menu{
		display: none;
	}
	#nav-mob{
		display: none;
	}
	.overlay-menu{
		display: none;
	}
	@media only screen and (max-width: 768px){
		body, html{
			overflow-x: hidden;
			width: 100%
		}
		.row{
			overflow-x: hidden;
			width: 100vw
		}
		.font-xl{font-size: 36px;}
		.font-lg{font-size: 24px;}
		.font-md{font-size: 20px;}
		.font-sm{font-size: 16px;}
		.font-xs{font-size: 12px;}
		.section{
			width: 90vw !important;
			margin: auto;
		}
		#header{
			height: auto;
			padding-top: 75px;
			background-size: cover !important;
		}
		.img-header{
			margin-top: 50px
		}
		.img-header img{
			width: 100%
		}
		#header img{
			margin: 0 !important
		}
		.btn{
			width: 100%
		}
		#navbar{
			display: none;
		}
		#nav-mob{
			display: block;
			z-index: 9;
			position: fixed;
			top: 0;
			padding: 15px 0 !important;
			width: 100%;
			transition-duration: 0.5s;
			-webkit-transition-duration: 0.5s;
			-moz-transition-duration: 0.5s;
			-o-transition-duration: 0.5s;
		}
		.slide-menu{
			display: block;
			height: 100%;
			position: fixed;
			width: 85%;
			top: 0;
			z-index: 9999;
			transition-duration: 0.5s;
			-webkit-transition-duration: 0.5s;
			-moz-transition-duration: 0.5s;
			-o-transition-duration: 0.5s;
			overflow-y: scroll;
		}
		.slide-menu ul li{
			padding: 10px 0;
			list-style: none;
		}
		.slide-muncul{
			transform: translateX(0);
		}
		.slide-ilang{
			transform: translateX(-120%);
		}
		.overlay-menu{
			height: 100%;
			width: 100%;
			position: fixed;
			transition-duration: 0.5s;
			-webkit-transition-duration: 0.5s;
			-moz-transition-duration: 0.5s;
			-o-transition-duration: 0.5s;
			background: rgba(0,0,0,0.75);
			z-index: 999;
			top: 0
		}
		.bg-muncul{
			display: block;
		}
		.bg-ilang{
			display: none;
		}
		.default{
			background: transparent;
		}
		#btn-menu{
			padding: 8px 10px;
		}
		#whychooseus, #order{
			background-size: cover !important
		}
		#reason .reason-text{
			padding-right: 0 !important
		}
		#reason .reason-text.col-md-push-6{
			padding-left: 0 !important
		}
		#getstarted{
			background-size: cover !important;
			padding-bottom: 300px
		}
		#getstarted .price{
			width: 100%
		}
		#getstarted img{
			width: 100%;
			bottom: 0 !important;
		}
		p {
			width: 100% !important
		}
		h1{
			width: 100%
		}
		h2{
			width: 100%
		}
		h3{
			width: 100%
		}
		h4{
			width: 100%
		}
		h5{
			width: 100%
		}
		h6{
			width: 100%
		}
		div{
			width: 100%
		}
		.padding-none{
			padding: 0px !important;
		}
		#footer{
			text-align: center;
		}
		#footer img{
			text-align: center;
		}
		.socials{
			text-align: center !important;
		}
		.foot-list{
			text-align: center !important;
		}
		ul.wizard li{
			padding: 10px 0;
			width: 100%;
			text-align: left;
			display: block;
		}
		#checkout .font-light img{
			margin-left: 5px !important
		}
		#code{
			width: 100% !important
		}
		.payment-panel{
			height: auto !important;
		}
		.back-to-info{
			text-align: center;
			padding-bottom: 10px;
		}
		#checkout td[width='15%']{
			width: 50%;
			display: inline-block;
			text-align: center !important;
		}
		#checkout td[width='70%']{
			width: 100%;
			text-align: center !important;
		}
		.done tr td{
			display: block;
			text-align: center !important;
			widows: 100% !important;
		}
		.done tr th{
			display: block;
			text-align: center !important;
			width: 100% !important;
		}
		.payment-table .table{
			padding: 0
		}
		.payment-panel div{
			text-align: center;
		}
		.table-responsive{
			width: 100%;
			overflow-x: scroll !important; 
		}
		table{
			display: block;
			overflow-x: auto;
			white-space: nowrap;
		}
		.table-responsive table{
			width: auto;
		}
		.box-payment{
			padding: 0 !important
		}
		.total{
			text-align: left !important;
		}
		.pending{
			padding: 20px 0 !important
		}
		.thanks{
			text-align: center;
			padding: 0 !important
		}
		.wait{
			margin-top: 10px
		}
		#domain .modal-body img{
			width: 90%
		}
		#punya-domain .btn{
			margin: 20px 0;
		}
		#video iframe{
			height: 220px;
		}
		ul.payment-method li{
			vertical-align: top;
			height: 120px
		}
	}