@font-face{
	font-family: 'roboto-bold';
	src: url(../fonts/roboto-bold.ttf) format('truetype');
}
@font-face{
	font-family: 'roboto-medium';
	src: url(../fonts/roboto-medium.ttf) format('truetype');
}
@font-face{
	font-family: 'roboto-regular';
	src: url(../fonts/roboto-regular.ttf) format('truetype');
}
@font-face{
	font-family: 'roboto-light';
	src: url(../fonts/roboto-light.ttf) format('truetype');
}

body, html{
	margin: 0px;
	padding: 0px;
	background-color: #ecf0f1;
	font-family: 'roboto-regular' !important;
	overflow-x: hidden;
}

.font-light{font-family: 'roboto-light';}
.font-regular{font-family: 'roboto-regular';}
.font-bold{font-family: 'roboto-bold';}
.font-medium{font-family: 'roboto-medium';}

.font-black{color: #121212;}
.font-white{color: #fafafa}
.font-blue{color: #0957c6;}
.font-blue-lighten{color: #07a8f0;}
.font-orange{color: #FB7C45;}
.font-red{color: #DC4E41;}
.font-green{color: #42b549;}
.font-grey{color: #8f8f8f;}

.font-xl{font-size: 40px;}
.font-lg{font-size: 30px;}
.font-md{font-size: 24px;}
.font-sm{font-size: 18px;}
.font-xs{font-size: 14px;}
.container-fluid{
	overflow-y: hidden;
}
.section{
	width: 1180px;
	margin: auto;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0px;
}
a,a:hover{
	text-decoration: none !important;
	color: inherit !important;
}

.bg-blue{background-color: #0957c6;}
.bg-blue-lighten{background-color: #07a8f0;}
.bg-amber{background-color: #fecd00;}
.bg-blue-gradient{background: linear-gradient(-45deg, #0957c6, #07a8f0) !important;}
.bg-orange-gradient{background: linear-gradient(45deg, #fbd769, #f46d1c) !important;}
.bg-black{background-color: #121212;}
.bg-white{background-color: #fff;}
.bg-grey{background-color: #F8F8F8;}
.bg-pink{background-color: #ed4a89;}
.bg-green{background-color: #42b549;}
.bg-img{
	background-size: cover;
	background-position: center;
}
.bg-skew{
	transform: skew(0deg, -3deg);
	-webkit-transform: skew(0deg, -3deg);
	-moz-transform: skew(0deg, -3deg);
	-o-transform: skew(0deg, -3deg);
}
.btn{
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
.btn-rounded{
	border-radius: 100px !important;
}
.btn-outline{
	background-color: transparent;
	border: 1px solid #fafafa !important;
}


/* form starting stylings ------------------------------- */
.group        {
  position:relative;
  margin-bottom:30px;
}
input:not([type=submit]){
  font-size:16px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}

input:not([type=submit]):focus     { outline:none; }

input[type="radio"],input[type="checkbox"]{
  width:10px;
}

/* LABEL ======================================= */
.group label          {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
}

/* active state */
input:not([type=submit]):focus ~ label, input:not([type=submit]):valid ~ label, input[type=date] ~ label, input[type=date] ~ label{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#0957c6;
  transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:not([type=submit]):focus ~ .bar:before, input:not([type=submit]):focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:not([type=submit]):focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#0957c6; }
  to    { width:0; background:transparent; }
}

/*COMPONENTS*/

#backtotop{
	z-index: 2147483648;
	color: #fafafa !important;
	position: fixed;
	right: 30px;
	bottom: 30px;
	padding: 9px 11px;
	height: 48px;
	width: 48px;
	border-radius: 100px;
	margin: auto;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-outline-transition-duration: 0.5s;
	box-shadow: 1px 1px 2px #1e1e1e;
}
#backtotop:hover{
	bottom: 35px;
}
#backtotop.btt-hide{
	right: -100px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

#navbar.intop{
	padding: 20px 0;
}
#navbar{
	position: fixed;
	z-index: 2;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 7px 0;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
#navbar ul{
	padding-top: 14px;
	float: right;
}
#navbar ul li{
	display: inline;
	margin-left: 30px;
	text-transform: uppercase;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	text-align: center;
	opacity: 0.7;
}
#navbar .btn{
	margin-left: 30px;
	text-transform: uppercase;
	padding: 5px 20px !important;
	margin-top: -4px;
}
#navbar ul li:hover{
	opacity: 1;
}
#navbar .btn:hover{
	background-color: rgba(0,0,0,0.25);
}
#navbar ul li.active{
	font-family: 'roboto-bold';
	opacity: 1;
}
#header{
	/* background-image: url(../images/background/head.png); */
	background-size: 100% 95%;
	background-repeat: no-repeat;
	background-position: top;
	height: 100vh;
	padding: 120px 0;
	position: relative;

	overflow-y: visible !important;
}
#header h1, #header p{
	margin-bottom: 30px;
}
#header .btn{
	padding: 10px 25px;
}
#header .btn:hover{
	box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
}
#header img{
	margin: 20px;
}
#todown{
	position: absolute;
	bottom: 15px;
	left: 0px;
	right: 0px;
	width: 50px;
	height: 50px;
	padding: 10px 12px;
	border-radius: 100px;
	margin: auto;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-outline-transition-duration: 0.5s;
	box-shadow: 1px 1px 2px #1e1e1e;
}
#todown:hover{
	transform: translateY(5px);
}

#reason{
	padding: 75px 0;
	overflow-x: hidden;
}
#reason .col-md-6{
	padding: 40px 0;
}
#reason .bg-shape{
	background-image: url(../images/reason/path.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding: 40px;
}
#reason .reason-text{
	padding-top: 80px;
	padding-right: 80px;
}
#reason .reason-text.col-md-push-6{
	padding-left: 80px;
	padding-right: 0px;
}
#reason .reason-text p{
	padding-left: 40px;
}
#reason h2, #reason p{
	line-height: 30px;
}

#whychooseus{
	padding: 100px 0;
	background-image: url(../images/background/whychooseus.png);
	background-size: 100% 100%;
	background-position: top;
	background-repeat: no-repeat;
}
#whychooseus .icon{
	text-align: center;
	width: 90px;
	height: 90px;
	padding: 25px;
	border-radius: 100px;
	box-shadow: 1px 1px 2px #1e1e1e;
	margin: 30px auto;
}
#whychooseus h3, #whychooseus p{
	width: 100% !important;
}

#getstarted{
	padding: 75px 0;
	/* background-image: url(../images/background/getstarted.png); */
	background-size: 100% 100%;
	background-position: top;
	background-repeat: no-repeat;
	position: relative;
}
#getstarted img{
	position: absolute;
	left: -5px;
	bottom: -5px;
	z-index: 0;
	opacity: 0.2;
}
#getstarted .price{
	position: relative;
	z-index: 1;
	margin: 50px auto;
	width: 75%;
	border-radius: 10px;
	box-shadow: 1px 1px 2px #1e1e1e;
}
#getstarted .price .price-head, #getstarted .price .price-pricing, #getstarted .price .price-body{
	padding: 25px 20px;
}
#getstarted .price h3, #getstarted .price p{
	margin: 0px;
}
#getstarted hr{
	width: 95%;
}
#getstarted a.font-blue-lighten{
	color: #07a8f0 !important;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
#getstarted a.font-blue-lighten:hover{
	color: #5863cd !important;
}
#getstarted .price .btn{
	padding: 10px;
	margin-top: 20px;
}
#getstarted .price .btn:hover{
	box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
}

#video{
	padding: 100px 0;
}
#video iframe{
	margin: 40px 0;
}

#order{
	padding: 150px 0;
	background-image: url(../images/background/whychooseus.png);
	background-size: 100% 100%;
	background-position: top;
	background-repeat: no-repeat;
}
#order .order-img{
	height: 350px;
	border-top-right-radius: 200px;
	border-bottom-right-radius: 200px;
	background-image: url(../images/order.png);
	background-size: cover;
	background-position: center;
}
#order .col-md-6{
	padding: 10px 40px;
}
#order form{
	padding: 30px 0;
	width: 90%;
}
#order form input:not([type=submit]){
	background-color: transparent !important;
}
#order .btn{
	float: right;
	padding: 10px 20px;
}
#order .btn:hover{
	color: #fafafa;
}

#testimonial{
	padding: 60px 0;
	/* background-image: url(../images/background/testimony.jpg); */
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
#testimonial h2{
	margin-bottom: 45px;
}
#testimonial .swiper-testimonial{
	width: 100%;
	overflow: hidden;
}
#testimonial .swiper-slide{
	border-radius: 10px;
	background-color: rgba(250,250,250,0.2);
	padding: 25px;
}
#testimonial h3,#testimonial p{
	margin: 5px 0;
}
#testimonial .testimonial-header img{
	width: 60px;
	border-radius: 100px;
}
#testimonial .testimonial-header .testimonial-header-text{
	width: 70%;
	padding: 10px;
}
#testimonial .testimonial-header img, #testimonial .testimonial-header .testimonial-header-text{
	display: inline-block;
	vertical-align: middle;
}
#testimonial .swiper-slide .text-center{
	padding-top: 20px;
}

#footer{
	padding: 50px 0;
}
#footer .socials{
	padding: 30px 0;
}
#footer .socials button{
	width: 40px;
	height: 40px;
	border: none;
	padding: 5px;
	border-radius: 5px;
	font-size: 20px;
	margin-right: 15px;
	box-shadow: 1px 1px 4px #1e1e1e;
}
#footer .col-md-5 a.font-blue{
	color: #0658c4 !important;
}
#footer ul{
	padding: 5px 0;
}
#footer ul li{
	display: inline;
	margin-left: 10px;
}
#footer ul li a{
	opacity: 0.5;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
#footer ul li a:hover{
	opacity: 1;
}

#register, #payment{
	min-height: 600px;
	padding-top: 150px;
	padding-bottom: 50px;
}
#register a.font-blue{
	color: #0957c6 !important;
}
ul.wizard{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
ul.wizard li{
	display: inline;
	width: 33%;
	border-bottom: 2px solid #121212;
	margin-right: -5px !important;
	padding: 25px 18px;
}
ul.wizard li.disabled a{
	color: #ddd !important;
}
ul.wizard li.disabled{
	border-color: #ddd;
}
ul.wizard li.disabled a{
	cursor: not-allowed;
}
ul.wizard li.complete a{
	color: #0957c6 !important;
	font-weight: bolder;
}
ul.wizard li.complete{
	border-color: #0957c6;
}

#register .reg-img{
	padding-top: 40px;
	padding-bottom: 80px;
}

#register h1, #register p{
	padding-left: 5px;
	margin-bottom: 10px;
}
#register h1{
	margin-top: 70px;
}
#register input:not([type=submit]){
	margin-top: 40px !important;
}
#register .col-md-3 label{
	font-size: 14px;
	margin-top: 5px;
}
#register .col-md-4 .row{
	margin-top: -30px;
}
#register .checkbox{
	margin-left: 5px;
}
#register .btn{
	padding: 10px 20px;
}
#register .btn:hover{
	color: #fafafa;
}

#payment{
	padding-top:
}
#payment h1{
	margin-top: 50px;
}

#checkout{
	margin-top: 15px;
}
#checkout .font-light img{
	height: 24px;
	margin-left: 48px !important;
}
#checkout{
	padding: 50px 0;
}
#checkout td[width='15%']{
	text-align: right !important;
}
#checkout td{
	border: none;
	padding: 15px 0 !important;
}
#checkout tr:last-child{
	border-top: 2px solid #ddd;
}

ul.payment-method{
	width: 100%;
	padding: 0px;
	margin: 40px 0px;
}
ul.payment-method li{
	display: inline-block;
	width: 33% !important;
	border-bottom: 2px solid #ddd;
	margin-right: -5px !important;
	padding: 15px;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
ul.payment-method li.active a,ul.payment-method li:hover a{
	color: #0957c6 !important;
	font-weight: bolder;
}
ul.payment-method li.active,ul.payment-method li:hover{
	border-color: #0957c6;
}

#payment .p{
	padding: 30px;
}
.p .payment-panel{
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 25px;
}

.p .creditcard img{
	margin-top: 20px;
	margin-left: 10px;
	height: 25px;
}
.p .group{
	position: relative;
}
.group i{
	position: absolute;
	right: 0px;
	bottom: 25%;
	margin: auto;
	font-size: 20px;
}
.p .checkbox{
	margin-top: 20px;
}
.checkbox label,.radio label{
	font-size: inherit !important;
	color: inherit !important
}
#payment .font-grey a{
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
#payment .font-grey{
	padding-top: 15px;
}
#payment .font-grey a:hover{
	color: #121212 !important;
}
#payment .btn{
	padding: 10px 20px;
}
#payment .btn:hover{
	color: #fafafa;
}
.p .payment-bank{
	border-radius: 10px;
	padding: 10px;
}
.p .payment-bank img, .p .panel-heading img{
	height: 70px;
	padding: 10px;
}
.p .payment-bank-method{
	padding: 5px;
}
.p .payment-bank-method .radio{
	width: 100%;
	border-bottom: 2px solid #ddd;
	padding: 10px 20px;
}
.p .payment-bank-method .radio label{
	margin-top: 40px;
}

.transfer{
	margin-top: 70px;
}
.transfer h3, .transfer p{
	margin: 5px !important;
}
.transfer .table{
	margin-top: 20px;
	border-bottom: 1px solid #ddd;
}
.transfer .trigger{
	margin-top: 40px;
	position: relative;
	cursor: pointer;
}
.transfer .trigger i{
	position: absolute;
	right: 20px;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
.transfer .trigger i.on{
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
}
.transfer ol{
	padding: 20px 40px;
}
.transfer ol li{
	line-height: 30px;
}
.payment-panel a i.font-grey{
	margin: 10px;
}
.payment-panel .table{
	border-bottom: 1px solid #ddd;
	margin-top: 20px;
}
.payment-panel .table th,.payment-panel .table td{
	/*padding: 12px 24px !important;*/
}
.terimakasih .col-md-8{
	padding: 20px;
}
.terimakasih h2{
	margin: 20px 0;
}
.terimakasih .panel{
	margin-top: 20px;
}
.terimakasih .panel-body.row{
	padding: 20px;
}
.terimakasih .refresh-icon{
	width: 90px;
	height: 90px;
	box-shadow: 1px 1px 15px #e1e1e1;
	padding: 18px;
	border-radius: 100px;
}
.btn.btn-rounded.bg-blue{
	box-shadow: 1px 1px 5px #848484;
}
.modal-dialog {
    transform: translate(0, -50%);
    top: 10%;
    margin: 0 auto;
}
body{padding-right: 0px !important}

.modal-content{
	padding: 10px;
}
#domain .btn.bg-green{
	border-radius: 0px;
	padding: 10px 20px;
	color: #fafafa !important;
	margin: 10px;
}
.modal-content .group{
	margin-top: 40px;
}
.modal-content label{
	font-size: 20px;
}
.modal-content input{
	font-size: 22px;
}
#daftar-domain table{
	border-bottom: 1px solid #ddd;
}
#daftar-domain tr{
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
#daftar-domain tr:hover{
	background-color: #f8f8f8;
}
#punya-domain .btn{
	padding: 10px 30px;
	margin: 30px;
}
